@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Pixel Stamp E-Learning Website</h1>
    <img height="500" src="~/img/pixelstamp-logo.png">
</div>
